/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

/* Common CSS Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ramabhadra', sans-serif;
}

/* Banner Start */

.header{
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,37,160,1) 0%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    padding: 153px 0 86px 0;
}

.banner{
    width: 1142px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 64px;
    color: #ffffff;
    line-height: 80px;
}

.banner-title:nth-child(3){
    margin-bottom: 30px;
}

.banner-btn{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 24px;
    background-color: #E02C6D;
    font-size: 16px;
    box-shadow: 6px 12px 68px rgb(0 0 0 / 50%);
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1s forwards;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.banner-btn::before{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #fff, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    transition: left .5s;
}

.banner-btn:hover::before{
    left: 100%;
}

/* Link Animation Start */
@keyframes fadeAnimation{
    0%{
        opacity: 0;
        visibility: hidden;
    }

    100%{
        opacity: 1;
        visibility: visible;
    }
}
/* Link Animation End */

.banner .banner-img img{
    width: 556px;
    height: 438px;
}

/* Banner End */

/* Main Area Start */
.main{
    background-color: #FDFDFD;
    padding: 0 15px;
    width: 100%;
}
/* Article Area Start */
.articles{
    display: grid;
    grid-template-columns: 330px 330px 330px;
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.article{
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 10px 20px 30px gray;
}

.article-img img{
    width: 300px;
    height: 256px;
    margin-bottom: 16px;
}

.article-heading{
    font-size: 28px;
    color: #18191F;
    margin-bottom: 10px;
}

.article-paragraph{
    font-size: 16px;
    color: #6C6C6C;
}
/* Article Area End */
/* Latest Result Area */
.latest{
    position: relative;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1142px;
    margin: 0 auto;
    margin-top: 100px;
}

.latest-title{
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: 400;
    padding-top: 30px;
}

.latest-title span{
    color: #b81e20;
}

hr{
    width: 123px;
    position: absolute;
    top: 96px;
    left: 46%;
    border: 2px solid #b81e20;
}

.result-content{
    display: grid;
    grid-template-columns: 330px 330px 330px;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.team-1{
    background-color: #2F343A;
    text-align: center;
    height: 150px;
    border-radius: 110px 42px 110px 46px;
}

.team-1-title, .team-2-title{
    font-size: 38px;
    color: whitesmoke;
}

.results{
    font-size: 20px;
    color: crimson;
}

.goal-maker{
    font-size: 14px;
    color: white;
}

.result{
    text-align: center;
}

.goal{
    font-size: 100px;
    color: white;
}

.team-2{
    background-color: #2F343A;
    text-align: center;
    height: 150px;
    border-radius: 110px 42px 110px 46px;
}

/* Latest Result Area End */

/* Schedule Start */
.schedule{
    max-width: 1142px;
    margin: 70px auto;
}

.schedule-title{
    font-size: 40px;
    color: black;
    text-align: center;
    font-weight: 400;
    position: relative;
    margin-bottom: 30px;
}

.schedule-title::after{
    content: "";
    width: 15%;
    height: 5%;
    background-color: #b81e20;
    position: absolute;
    bottom: 5%;
    right: 42%;
}

.schedule-title span{
    color: #b81e20;
}

.schedule-contents{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    grid-row-gap: 20px;
}
/* Schedule Start End */

/* End of Main Area */

/* Footer Start */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 483px;
    margin: 158px auto 63px auto;

}

.footer .logo img{
    width: 483px;
    height: 110px;
    margin-bottom: 20px;
}

.social{
    display: flex;
    justify-content: center;
    width: 170px;
}

.social-icon{
    background-color: #E7E7E8;
    height: 32px;
    width: 32px;
    color: #969BAB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 14px;
}

.social-icon:last-child{
    margin-right: 0;
    margin-bottom: 20px;
}

.copyright{
    font-size: 24px;
    color: #000000;
}
/* Footer End */



/* Media Query */
/* Mobile Device */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    /* Banner Start */
    .header{
 
        width: 100%;
        padding: 95px 30px 55px 30px;
    }
    .banner{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .banner-title{
        font-size: 30px;
        line-height: 40px;  
    }

    .banner-btn{
        padding: 8px 20px;
        margin-bottom: 50px;
    }

    .banner .banner-img img{
        width: 80%;
        height: auto;
    }
     

    /* Banner End */

    /* Article Start */
    .articles{
        grid-template-columns: repeat(1, 330px);
    }
    /* Article End */

    /* Latest Result Area Start */
    .result-content{
        grid-template-columns: repeat(1, 330px);
    }

    hr{
        left: 40%;
    }
    /* Latest Result Area End */
    
    /* Schedule Area Start */
    .schedule-contents{
        grid-template-columns: repeat(1, 1fr);
    }

    .schedule-title::after{
        width: 23%;
        right: 42%;
    }

    .content img{
        width: 100%;
    }
    /* Schedule Area End */
    /* Footer Start */
    .footer{
        width: 100%;
    }

    .footer .logo img{
        width: 274px;
        height: auto;
    }

    .copyright{
        font-size: 24px;
    }
    /* Footer End */

}

/* Tablet */
@media only screen and (min-width: 481px) and (max-device-width : 768px){
    /* Header Start */
    .header{
        width: 100%;
        padding: 95px 53px 55px 74px;
    }

    .banner{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .banner-title{
        font-size: 30px;
        line-height: 40px;  
    }

    .banner-btn{
        padding: 8px 20px;
        margin-bottom: 50px;
    }

    .banner .banner-img img{
        width: 80%;
        height: auto;
    }
     
    /* Header End */
    /* Banner End */

    /* Article Start */
    .articles{
        grid-template-columns: repeat(1, 330px);
    }
    /* Article End */

    /* Latest Result Area Start */
    .result-content{
        grid-template-columns: repeat(1, 330px);
    }

    hr{
        left: 41%;
    }
    /* Latest Result Area End */
    
    /* Schedule Area Start */
    .schedule-contents{
        grid-template-columns: repeat(1, 1fr);
    }

    .schedule-title::after{
        width: 18%;
        right: 42%;
    }

    .content img{
        width: 100%;
    }
    
    /* Schedule Area End */
    /* Footer Start */
    .footer{
        width: 100%;
    }

    .footer .logo img{
        width: 274px;
        height: auto;
    }

    .copyright{
        font-size: 24px;
    }
    /* Footer End */
}
/* Medium Device or Large */

@media only screen and (min-width: 769px) and (max-device-width : 1024px){
    /* Header Start */
     
    .header{
        width: 100%;
        padding: 90px 0 60px 0;
    }

    .banner{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto
    }

    .banner-title{
        font-size: 30px;
        line-height: 40px;  
    }

    .banner-btn{
        padding: 8px 20px;
        margin-bottom: 50px;
    }

    .banner .banner-img img{
        width: 440px;
        height: 325px;
    }
     
    /* Header End */
    /* Banner End */

    /* Article Start */
    .articles{
        grid-template-columns: repeat(2, 330px);
    }
    /* Article End */

    /* Latest Result Area Start */
    .result-content{
        grid-template-columns: repeat(1, 330px);
    }

    hr{
        left: 41%;
    }
    /* Latest Result Area End */
    
    /* Schedule Area Start */
    .schedule-contents{
        grid-template-columns: repeat(1, 1fr);
    }

    .schedule-title::after{
        width: 18%;
        right: 42%;
    }

    .content img{
        width: 100%;
    }
    
    /* Schedule Area End */
    /* Footer Start */
    .footer{
        width: 100%;
    }

    .footer .logo img{
        width: 274px;
        height: auto;
    }

    .copyright{
        font-size: 24px;
    }
    /* Footer End */
}

/* Desktop */
/* @media (max-width : 75em) {
    
} */